{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block custom_meta %}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block site-head %}
<title>威尔佳</title>
{% endblock %}


{% block site-content %}

<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
<script src="{{ js_config.js_lib.welljia }}"></script>
<script>

    header_bar_menu = {{ header_bar_menu | jsonify }}
    page_menu = {{ page_menu |　jsonify }}
    crt_page_name = {{ crt_page_name | jsonify }}
    top_heads={{ top_heads | jsonify }}
    map_points={{ map_points | jsonify }}
    area_list={{ area_list | jsonify }}
    page_item_list= {{ page_item_list | jsonify }}
//    env={}
//    env.width= $(window).width()
//    $(window).resize(function(){
//        env.width=$(window).width()
//    })

    $(function(){


        new Vue({
            el:'#main-panel',
            data:{
//                env:env,
                menu:header_bar_menu,
                crt_page_name:crt_page_name,
                username:page_data.username,
                page_menu: page_menu,
                search_args:{},
                top_heads:top_heads,
                map_points:map_points,
                area_list:area_list,
                page_item_list:page_item_list,
                crt_item:page_item_list[0]
            },
            computed:{
                normed_map_pos_list:function(){
                    var self=this
                    return ex.filter(this.map_points,function(item){
                        return ex.isin(item.pk,self.crt_item.project)
                    })
                },
                normed_area_list:function(){
                    var self=this
                    return ex.filter(this.area_list,function(item){
                        return ex.isin(item.pk,self.crt_item.area)
                    })
                }

            },
            methods:{
                on_action:function(v){
                    this.crt_item = v
                }
            }
        })
    })


</script>

<div class="flex" id="main-panel">

    <div class="right-panel flex-grow flex-v">
        <com-fullhome-header-bar :top_heads="top_heads"></com-fullhome-header-bar>


        <div class="flex-grow flex" style="position: relative;">

            <com-fullhome-left-menu :menu-list="page_item_list" @action="on_action($event)"></com-fullhome-left-menu>


            <div class="flex-grow" style="position: relative">
                <com-fullhome-map :map_points="normed_map_pos_list" :area_list="normed_area_list"></com-fullhome-map>
            </div>

        </div>

        <!--<com-fullhome-footer></com-fullhome-footer>-->

    </div>

</div>








{% endblock %}