
{% extends 'webpage/site_base.html' %}
{% load static %}
{% load jsonify %}

{% block page_content %}

<style>
    #there{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
    }

</style>

<script>
    link_3d = '{{link_3d}}'
$(function(){
    new Vue({
        el:'#there',
        data:{
            link_3d:link_3d
        },
        computed:{
            wraped_3d:function(){
                return '/3d_wrap?d3_url='+encodeURIComponent(this.link_3d)
            }
        }
    })
})
</script>

<div id="there" >
    <iframe allowvr="yes" scrolling="no" :src="link_3d" frameborder="0" style="width: 100%;height: 100%"></iframe>
</div>

{% endblock %}
