{% extends 'webpage/site_base.html' %}
{% load static %}
{% load jsonify %}

{% block page_content %}

<style>
    /*#there{*/
        /*position: absolute;*/
        /*top:0;*/
        /*left:0;*/
        /*right: 0;*/
        /*bottom: 0;*/
    /*}*/

    #there{
        flex-shrink: 0;
        /*width: 100%;*/
        height: 100%;
    }
    .center-content{
        display: flex;
        flex-direction: column;
    }

</style>

<!--<div id="there" >-->

    <iframe  class="flex-grow"  src="{{ link_3d }}" frameborder="0" style="width: 100%;height: 100%"></iframe>

<!--</div>-->

{% endblock %}