{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block site-head %}
<title>威尔佳</title>
{% endblock %}


{% block site-content %}
<link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>

<script>

    header_bar_menu = {{ header_bar_menu | jsonify }}
    page_menu = {{ page_menu |　jsonify }}
    crt_page_name = {{ crt_page_name | jsonify }}
    top_heads={{ top_heads | jsonify }}

    $(function(){

        new Vue({
            el:'#header-bar',
            data:{
                menu:header_bar_menu,

                crt_page_name:crt_page_name,
                username:page_data.username,
                page_menu: page_menu,
                search_args:{},
                top_heads:top_heads,
            }
        })

    })
</script>


<div id="header-bar" class="header">

    <div class="wrap flex" style="margin-top: 1em;">

        <!--<div class="flex" style="justify-content: space-between;align-items: center;">-->
            <!--<a href="/index" class="log-link" style="display: flex">-->
                <!--&lt;!&ndash;<img src="http://www.kuaifawu.com/static/img/common/logo_510.png" alt=""/>&ndash;&gt;-->
                <!--<img style="height: 60px" src="/static/images/one_station.png" alt="">-->
            <!--</a>-->

            <!--<com-search-kuaifawu  :head="search_head" :search_args="search_args"></com-search-kuaifawu>-->
        <!--</div>-->





        <!--<div class="search-panel">-->
        <!--<img class="search-btn" src="/static/home/12.png" alt="">-->
        <!--<input type="text" placeholder="搜索">-->
        <!--</div>-->
        <div class="flex-grow"></div>
        <div>
            <component v-for="head in top_heads" :is="head.editor" :head="head"></component>
        </div>
        <!--<div v-if="username" style="z-index:200" class="login" >-->
        <!--欢迎,<span v-text="username"></span>-->
        <!--<a href="/accounts/logout">[退出]</a>-->
        <!--</div>-->

        <!--<div v-else style="z-index:200" class="login" >-->
        <!--<a href="/accounts/login" class="login-link">登录</a>-->
        <!--<span>&nbsp;|&nbsp;</span>-->
        <!--<a href="/accounts/regist">注册</a>-->
        <!--</div>-->
    </div>

    <div style="border-bottom: 1px solid #02c9ff;">
        <div class="wrap" style="margin-top: 1em;">
            <div class="flex" style="justify-content: space-between">
                <!--<com-kuaifawu-menu label="全部服务分类" :menu_group="page_menu" ></com-kuaifawu-menu>-->
                <div>

                </div>
                <com-header-menu :menu="menu" :active="crt_page_name"></com-header-menu>

            </div>
        </div>
    </div>


</div>







<div class="center-content">
    {% block page_content %}

    {% endblock %}
</div>




<div class="footer wrap" style="position: relative;background-color: #f3f3f3;height: 130px;margin-top: 20px;">
    <div style="text-align: center;padding-top: 1em;">
        <span>威尔佳 &nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备16015654号</span>
    </div>
    <div style="text-align: center;padding-top: 0.5em;">
        <a>@2014-2018 Jongde Software LLC All rights reserved.</a>
    </div>

</div>


{% endblock %}