{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block site-head %}
<title>威尔佳</title>
{% endblock %}


{% block site-content %}
<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
<script src="{{ js_config.js_lib.welljia }}"></script>
<script>

    header_bar_menu = {{ header_bar_menu | jsonify }}
    page_menu = {{ page_menu |　jsonify }}
    crt_page_name = {{ crt_page_name | jsonify }}
    top_heads={{ top_heads | jsonify }}

    $(function(){

        new Vue({
            el:'#header-bar',
            data:{
                menu:header_bar_menu,

                crt_page_name:crt_page_name,
                username:page_data.username,
                page_menu: page_menu,
                search_args:{},
                top_heads:top_heads,
            }
        })

    })
</script>

<div class="flex">

    <div class="left-bar">

        <div class="logo">
            <img src="/static/images/1_1.png" alt="">
        </div>

        <div class="footer" >
            <div style="padding-left: 10px;">
                <span>四川威尔佳科技</span><br>
                <span>有限责任公司</span>
            </div>
            <div style="padding-top: 0.5em;padding-left: 10px">
                <a>@2014-2018 Jongde Software LLC All rights reserved.</a>
            </div>

        </div>

    </div>

    <div class="right-panel flex-grow flex-v">


        <div id="header-bar" class="header-bar">

            <com-header-menu  class="center-vh" :menu="menu" :active="crt_page_name"></com-header-menu>
            <!--<div class="wrap flex" style="margin-top: 1em;">-->

            <div class="sm-right-top-panel center-v">
                <component v-for="head in top_heads" :is="head.editor" :head="head"></component>
            </div>

                <!--<div class="flex-grow"></div>-->
                <!--<div>-->
                    <!--<component v-for="head in top_heads" :is="head.editor" :head="head"></component>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div style="border-bottom: 1px solid #02c9ff;">-->
                <!--<div class="wrap" style="margin-top: 1em;">-->
                    <!--<div class="flex" style="justify-content: space-between">-->
                        <!--&lt;!&ndash;<com-kuaifawu-menu label="全部服务分类" :menu_group="page_menu" ></com-kuaifawu-menu>&ndash;&gt;-->
                        <!--<div>-->

                        <!--</div>-->
                        <!--<com-header-menu :menu="menu" :active="crt_page_name"></com-header-menu>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


        </div>







        <div class="center-content flex-grow">
            {% block page_content %}

            {% endblock %}
        </div>


    </div>

</div>








{% endblock %}