{% extends 'site_frame/base.html' %}
{% load static %}
{% load jsonify %}

{% block custom_meta %}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block site-head %}
<title>威尔佳</title>
{% endblock %}


{% block site-content %}
<script src="https://cdn.staticfile.org/slideout/1.0.1/slideout.min.js"></script>
<!--<script src="https://cdn.staticfile.org/vuex/3.0.1/vuex.min.js"></script>-->

<script src="{{ js_config.js_lib.element }}"></script>
<link href="{{ js_config.js_lib.element_css }}" rel="stylesheet">
<script src="{{ js_config.js_lib.director }}"></script>
<script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
<script src="{{ js_config.js_lib.welljia }}"></script>
<script>

    header_bar_menu = {{ header_bar_menu | jsonify }}
    page_menu = {{ page_menu |　jsonify }}
    crt_page_name = {{ crt_page_name | jsonify }}
    top_heads={{ top_heads | jsonify }}

    env={}
    env.width= $(window).width()
    $(window).resize(function(){
        env.width=$(window).width()
    })

    $(function(){

        new Vue({
            el:'.slide-menu',
//            store:store,
            data: {
                env: env,
                menu: header_bar_menu,
                crt_page_name:crt_page_name,
                top_heads:top_heads,
            },
            methods:{
                on_jump:function(act){
                    $('.toggle-button').click()
                    setTimeout(function(){
                        location=act.link
                    },500)

                }
            }
        })

        new Vue({
            el:'#header-bar',
            data:{
                env:env,
                menu:header_bar_menu,
                crt_page_name:crt_page_name,
                username:page_data.username,
                page_menu: page_menu,
                search_args:{},
                top_heads:top_heads,
            }
        })
    })


</script>

<style>
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
    }

    .slideout-menu-left {
        left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }
</style>

<style>
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>


<div class="flex" id="main-panel">

    <div class="left-bar">

        <div class="logo">
            <img src="/static/images/1_1.png" alt="">
        </div>

        <div class="footer" >
            <div style="padding-left: 10px;">
                <span>四川威尔佳科技</span><br>
                <span>有限责任公司</span>
            </div>
            <div style="padding-top: 0.5em;padding-left: 10px">
                <a>@2014-2018 Jongde Software LLC All rights reserved.</a>
            </div>

        </div>
    </div>

    <nav class="slide-menu" v-if="env.width<900">

        <com-header-menu  :menu="menu" :active="crt_page_name" @jump="on_jump($event)">
        </com-header-menu>
        <div style="margin-top: 2em;border-top:1px solid #313131;padding-top: 1em;">
            <div class="sm-right-top-panel">
                <component class="vertical" v-for="head in top_heads" :is="head.mb_editor || head.editor"
                           @jump="on_jump($event)"
                           :head="head"></component>
            </div>
        </div>
    </nav>

    <div class="right-panel flex-grow flex-v">

        <div id="header-bar">

            <com-slide-menu v-if="env.width<900" menu=".slide-menu" toggle-btn=".toggle-button" panel=".right-panel">
            </com-slide-menu>

            <div class="header-bar" >
                <div v-if="env.width<900" class="slide-btn center-v"  >
                    <div class="toggle-button" style="color: white;padding: 0 0.6em">☰</div>
                </div>
                <b style="color: #e9e9e9;" v-if="env.width<900" class="center-vh">
                    <img height="20px" src="/static/images/log.png" alt=""><span style="display: inline-block;width: 0.5rem"></span>威尔佳</b>

                <com-header-menu v-if="env.width>=900"  class="center-v"  :menu="menu.slice(0,1)" :active="crt_page_name">
                </com-header-menu>
                <com-header-menu v-if="env.width>=900"  class="center-vh"  :menu="menu.slice(1)" :active="crt_page_name">
                </com-header-menu>
                <div v-if="env.width>=900" class="sm-right-top-panel center-v">
                    <component v-for="head in top_heads" :is="head.editor" :head="head"></component>
                </div>
            </div>
        </div>

        <div class="center-content flex-grow">
            {% block page_content %}

            {% endblock %}
        </div>


    </div>

</div>








{% endblock %}