.huxing-page{
    background:rgba(0,0,0,0.3);
    width: 900px;
    margin: auto;
    height: 100%;

  .swiper-container{
      height: 100%;
      padding:10% 0;
  }
  .swiper-slide{
    width: 250px;
  }

}

@media (max-width: 900px) {
  .huxing-page{
    width: 100%;
  }

}