//.com-fullhome-footer{
//    //background-color: #000000;
//    height: 6rem;
//    position: absolute;
//    bottom: 0;
//
//    img{
//        display: inline-block;
//        height: 3rem;
//        margin: 0.5rem 1rem;
//    }
//}


.com-fullhome-footer{
    background-color: #1d2027;
    padding-top: 10px;
    position: absolute;
    height: 100%;
    width: 100%;

    .divider{
        display: inline-block;
        width: 3em;
    }
}

.com-fullhome-footer.mobile-panel{
    height: auto;
    bottom: 0;
    .divider{
        display: block;
    }

}