.com-fullhome-footer{
    //background-color: #000000;
    height: 6rem;
    position: absolute;
    bottom: 0;

    img{
        display: inline-block;
        height: 3rem;
        margin: 0.5rem 1rem;
    }
}